---

import { Image } from 'astro:assets';

interface Props {
	title: string;
	description: string;
	href: string;
}

const { href, title, description } = Astro.props;

---

<section id="header" class="bg-right flex justify-center items-center bg-no-repeat bg-cover bg-[url('../images/header.png')] h-[500px]">
    <div class="container flex flex-col gap-4 lg:gap-6">
        <h1 class="font-finalSixHeavy text-white text-4xl">{title}</h1>
        <p class=" font-finalSixMedium text-white text-2xl lg:w-1/2">{description}</p>
        <a class="text-black font-finalSixBold bg-grey py-4 px-8 block w-fit rounded text-xl shadow-inner" href="#"> Qui sommes nous ? </a>
    </div>
</section>